.inventory-container{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
}

.delivered-btn{
    border: none;
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.delivered-btn:hover{
    background-color: green;
    color:white;
}
.link-button{
    background-color: orange;
    margin-left: 100px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.container-form{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}