.inventory-container{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
}
.image{
   height:250px;
    width: 18rem;
}


.delivered-btn{
    border: none;
    background-color: orange;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.delivered-btn:hover{
    background-color: green;
    color:white;
}
.link-button{
    background-color: orange;
    margin-left: 100px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.container-form{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

@media only screen and (max-width: 540px){
    .container-form{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .image{
        width: 11rem;
    }
    .form-box{
        margin-left: 130px;
    }
}