.equipment-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap:10px;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.title{
    text-align: center;
    color:orangered;
    font-weight: 700;
}

.link-btn{
    background-color: tomato;
    margin-left: 550px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 540px){
    .equipment-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;
    }
    .link-btn{
        margin-left: 50px;
    }
}