.news-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    margin-bottom: 30px;
}

.news-container img{
    border-radius: 10px;
    margin: 10px;
}

.news-container h2{
    padding: 10px;
}

.news-container p{
    padding: 10px;
}